.box {
    border: 5px, solid, lightblue;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 40px;
    background-image: url(star.png), url(star.png);
    background-repeat: no-repeat, repeat-y;
    background-position: center left, center right;
    padding-left: 40px; /* 为左侧星星留出空间 */
    padding-right: 40px; /* 为右侧星星留出空间 */
    text-align: center;
}

.h2 {
}