* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background: #ccc;
}

article {
  width: 210mm;
  height: 297mm;
  margin: 20px auto;
  position: relative;
  ;
}

address {
  position: absolute;
  bottom: 8mm;
  right: 20mm;
}

h1 {
  position: absolute;
  top: 12mm;
  left: 20mm;
  width: 128px;
  height: 128px;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
  padding: 44px 0;
  color: white;
  border-radius: 50%; /* 设置为圆形 */
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  
}
/* Your CSS below here */
article
{
  background-image: url('top-image.png'),
  url('bottom-image.png'),
  linear-gradient(to bottom, rgba(0, 0, 0, 0.5)0%,rgba(0, 0, 0, 0)20%, rgba(0, 0, 0, 0)80%, rgba(0, 0, 0, 0.5)100%);
  background-position:
  top center, /* 顶部图片位置 */
  bottom center,/* 底部图片位置 */
  center center; 
  background-repeat:
  no-repeat, /* 顶部图片不重复 */
  no-repeat, /* 底部图片不重复 */
  no-repeat; /* 渐变不重复 */
  border-top: 1mm solid red ; /* 上边框 */
  border-bottom: 1mm solid red; /* 下边框 */
  background-color: white;

}
h1
{
  background-image: url('logo.png');
}
